@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,400&display=swap');
body {
  margin: 0;
  padding: 0;
  background: #f2f4f5;
  color: #1e1e1f;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100hv;
}
